{**
 * Template for Eciovni plugin for Nette Framework
 *
 * @copyright  Copyright (c) 2009 Ondřej Brejla
 * @license    New BSD License
 * @link       http://github.com/OndrejBrejla/Nette-InvoiceControl
 *
 * @param    string                $title
 * @param    string                $id
 *
 * @param    string                $supplierName
 * @param    string                $supplierStreet
 * @param    string                $supplierHouseNumber
 * @param    string                $supplierCity
 * @param    string                $supplierZip
 * @param    string                $supplierIn
 * @param    string                $supplierTin
 * @param    string                $supplierAccountNumber
 *
 * @param    string                $dateOfIssuance
 * @param    string                $expirationDate
 * @param    string                $dateOfVatRevenueRecognition
 *
 * @param    string                $variableSymbol
 * @param    string                $specificSymbol
 * @param    string                $constantSymbol
 *
 * @param    string                $signatureText
 * @param    string                $signatureImgSrc
 * 
 * @param    string                $customerName
 * @param    string                $customerStreet
 * @param    string                $customerHouseNumber
 * @param    string                $customerCity
 * @param    string                $customerZip
 * @param    string                $customerIn
 * @param    string                $customerTin
 * @param    string                $customerAccountNumber
 *
 * @param    Item[]                $items
 *
 * @param    double                $finalUntaxedValue
 * @param    double                $finalTaxValue
 * @param    double                $finalValue
 *}
<html>
<head>
    <meta http-equiv="Content-Language" content="cs">
    <title></title>
</head>

<body>
<style type="text/css">
    body {
        font-family: Arial;
    }

    table {
        font-size: 12px;
    }
</style>
<div>
    <div style="text-align: right; border-bottom: 2px solid #000000; color: #1A5DAC; font-weight: bold; font-size: 20px;">{$title} - {$id}</div>

    <table>
        <tr>
            <td width="40%">
                <span style="color: #1A5DAC; font-weight: bold; font-size: 12px;">Dodavatel:</span>
                <table style="font-weight: bold; margin-bottom: 15px;">
                    <tr>
                        <td>{$supplierName}</td>
                    </tr>
                    <tr>
                        <td>{$supplierStreet} {$supplierHouseNumber}</td>
                    </tr>
                    <tr>
                        <td>{$supplierZip}, {$supplierCity}</td>
                    </tr>
                </table>

                <table style="color: #1A5DAC; margin-bottom: 15px;">
                    <tr n:if="$supplierIn">
                        <td>IČ:</td>
                        <td>{$supplierIn}</td>
                    </tr>
                    {*<tr n:if="$supplierTin">*}
                        {*<td>DIČ:</td>*}
                        {*<td>{$supplierTin}</td>*}
                    {*</tr>*}
                    <tr>
                        <td colspan="2">
                            <em>Nejsme plátci DPH</em>
                        </td>
                    </tr>
                </table>

                <table style="width: 100%; margin-bottom: 15px;" n:if="$supplierAccountNumber">
                    <tr>
                        <td>Číslo účtu:</td>
                        <td style="text-align: center; border: 3px solid #000000; font-weight: bold" width="220">{$supplierAccountNumber}</td>
                    </tr>
                </table>

                <table style="width: 100%;">
                    <tr>
                        <td>Forma úhrady:</td>
                        <td style="text-align: center;">{$payMethod}</td>
                    </tr>
                    <tr n:if="$dateOfIssuance">
                        <td>Datum vystavení:</td>
                        <td style="text-align: center;">{$dateOfIssuance}</td>
                    </tr>
                    <tr n:if="$expirationDate">
                        <td>Datum splatnosti:</td>
                        <td style="text-align: center;">{$expirationDate}</td>
                    </tr>
                    {*<tr n:if="$dateOfVatRevenueRecognition">*}
                        {*<td>Datum uskutečnění zdanitelného plnění:</td>*}
                        {*<td style="text-align: center;">{$dateOfVatRevenueRecognition}</td>*}
                    {*</tr>*}
                </table>
            </td>
            <td width="60%" align="right">
                <table style="margin-bottom: 15px;" n:if="$constantSymbol || $specificSymbol || $variableSymbol">
                    <tr n:if="$variableSymbol">
                        <td style="text-align: right;">Variabilní symbol:</td>
                        <td style="text-align: center;">{$variableSymbol}</td>
                    </tr>
                    <tr n:if="$specificSymbol">
                        <td style="text-align: right;">Specifický symbol:</td>
                        <td style="text-align: center;">{$specificSymbol}</td>
                    </tr>
                    <tr n:if="$constantSymbol">
                        <td style="text-align: right;">Konstantní symbol:</td>
                        <td style="text-align: center;">{$constantSymbol}</td>
                    </tr>
                </table>

                <table style="border: 3px solid #000000;">
                    <tr>
                        <td width="350">
                            <span style="color: #1A5DAC; font-weight: bold; font-size: 12px;">Odběratel:</span>
                            <table style="margin-bottom: 15px;">
                                <tr n:if="$customerIn">
                                    <td>IČ:</td>
                                    <td>{$customerIn == 0 ? '' : $customerIn}</td>
                                </tr>
                                <tr n:if="$customerTin">
                                    <td>DIČ:</td>
                                    <td>{$customerTin}</td>
                                </tr>
                                <tr n:if="$customerAccountNumber">
                                    <td>Číslo účtu:</td>
                                    <td>{$customerAccountNumber}</td>
                                </tr>
                            </table>

                            <table style="font-weight: bold; margin-bottom: 15px;">
                                <tr n:if="$customerName">
                                    <td>{$customerName}</td>
                                </tr>
                                <tr n:if="$customerStreet || $customerHouseNumber">
                                    <td>{$customerStreet} {$customerHouseNumber}</td>
                                </tr>
                                <tr n:if="$customerCity || $customerZip">
                                    <td>{$customerZip}, {$customerCity}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div style="border: 1px solid #BEC8CE; clear: both; margin-bottom: 15px;">
        <table style="width: 100%;">
            <tr>
                <td><strong>Položka</strong></td>
                <td style="text-align: right;"><strong>Jednotková cena ({$currency})</strong></td>
                <td style="text-align: right;"><strong>Počet</strong></td>
                {*<td style="text-align: right;"><strong>%DPH</strong></td>*}
                {*<td style="text-align: right;"><strong>DPH</strong></td>*}
                <td style="text-align: right;"><strong>Cena ({$currency})</strong></td>
            </tr>
            {foreach $items as $item}
            <tr>
                <td>{$item->getDescription()}</td>
                <td style="text-align: right;">{$item->countUntaxedUnitValue()|round}</td>
                <td style="text-align: right;">{$item->getUnits()}</td>
                {*<td style="text-align: right;">{$item->getTax()->inUpperDecimal() * 100 - 100|round}</td>*}
                {*<td style="text-align: right;">{$item->countTaxValue()|round}</td>*}
                <td style="text-align: right;">{$item->countFinalValue()|number:2:',':' '}</td>
            </tr>
            {/foreach}
        </table>
    </div>

    <div style="border: 2px solid #000000; margin-bottom: 15px;">
        <table style="width: 100%;">
            {*<tr>*}
                {*<td>Celkem bez DPH (Kč):</td>*}
                {*<td style="text-align: right;">{$finalUntaxedValue|round}</td>*}
            {*</tr>*}
            {*<tr>*}
                {*<td>DPH (Kč):</td>*}
                {*<td style="text-align: right;">{$finalTaxValue|round}</td>*}
            {*</tr>*}
            <tr style="font-size: 20px;">
                <td><strong>Cena celkem ({$currency}):</strong></td>
                <td style="text-align: right;"><strong>{$finalValue|number:2:',':' '}</strong></td>
            </tr>
        </table>
    </div>

    {*<div style="text-align: right; padding-right: 100px;">*}
        {*{if !$signatureImgSrc}*}
            {*<p style="color: #1A5DAC; font-style: italic;">{$signatureText}</p>*}
        {*{else}*}
            {*<img src="{$signatureImgSrc}" alt="Razitko s podpisem" />*}
        {*{/if}*}
    {*</div>*}
</div>
</body>
</html>